<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-2345">
	<div class="cs-container">
		<div class="cs-wrapper">
			<div class="cs-content">
				<a href="" class="cs-logo">
					<img class="cs-logo-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Logos/archi-logo.svg" alt="logo" width="174" height="28" loading="lazy" decoding="async" />
				</a>
				<p class="cs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nemo quo, ea animi libero facilis voluptates.</p>
				<ul class="cs-nav">
					<li class="cs-nav-li">
						<a href="" class="cs-nav-link">Home</a>
					</li>
					<li class="cs-nav-li">
						<a href="" class="cs-nav-link">About</a>
					</li>
					<li class="cs-nav-li">
						<a href="" class="cs-nav-link">Services</a>
					</li>
					<li class="cs-nav-li">
						<a href="" class="cs-nav-link">Projects</a>
					</li>
					<li class="cs-nav-li">
						<a href="" class="cs-nav-link">Contact</a>
					</li>
				</ul>
			</div>
			<ul class="cs-ul">
				<li class="cs-li">
					<span class="cs-header">Phone Number</span>
					<a href="" class="cs-contact">+1 555-286-6985</a>
				</li>
				<li class="cs-li">
					<span class="cs-header">Email Address</span>
					<a href="" class="cs-contact">Josh@archistitch.com</a>
				</li>
				<li class="cs-li">
					<span class="cs-header">Office Hours</span>
					<a href="" class="cs-contact">
						Mon - Sat
						<br />
						9:00 am - 6:00 pm
					</a>
				</li>
				<li class="cs-li">
					<span class="cs-header">Office Address</span>
					<a href="" class="cs-contact">
						5555 Mooresville Rd,
						<br />
						Somewhere, NC, 28147
					</a>
				</li>
			</ul>
		</div>
		<div class="cs-bottom">
			<span class="cs-copyright">
				© Copyright 2025 -
				<a class="cs-copyright-link" href="">Archistitch</a>
			</span>
			<div class="cs-terms">
				<a href="" class="cs-copyright-link">Terms & Conditions</a>
				<span class="cs-divider">|</span>
				<a href="" class="cs-copyright-link">Privacy Policy</a>
			</div>
		</div>
	</div>
</footer>
