<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-2345">
	<div class="cs-container">
		<div class="cs-wrapper">
			<div class="cs-content">
				<a href="/" class="cs-logo">
					<img class="cs-logo-img" src="/assets/svgs/logo.svg" alt="logo" width="174" height="28" loading="lazy" decoding="async" />
				</a>
				<ul class="cs-nav">
					<li class="cs-nav-li">
						<a href="/" class="cs-nav-link">Home</a>
					</li>

					<li class="cs-nav-li">
						<a href="/mission/" class="cs-nav-link">Mission</a>
					</li>
					<li class="cs-nav-li">
						<a href="/gallery/" class="cs-nav-link">Gallery</a>
					</li>
					<li class="cs-nav-li">
						<a href="/financing/" class="cs-nav-link">Financing</a>
					</li>
					<li class="cs-nav-li">
						<a href="/contact" class="cs-nav-link">Inquire</a>
					</li>
				</ul>
			</div>
			<div class="cs-flex">
				<span class="cs-heading">Email Address</span>
				<a href="mailto:{{client.email}}" class="cs-contact">
					<span>partnerships</span>
					<span>@arcadiamicrostructures.com</span>
				</a>
			</div>
		</div>
		<div class="cs-bottom">
			<span class="cs-copyright">
				© Copyright {% year %} -
				<a class="cs-copyright-link" href="/">Arcadia Micro Structures</a>
			</span>
		</div>
	</div>
</footer>
