// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#home {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #1a1a1a;

		img {
			width: (300/16rem);
			height: auto;
			display: block;
		}

		.cs-title {
			color: var(--bodyTextColorWhite);
			text-align: center;
			text-transform: uppercase;
			font-family: Helvetica;
			margin-bottom: (32/16rem);
		}

		.cs-link {
			color: var(--bodyTextColorWhite);
			margin-top: (24/16rem);
		}
	}
}
