// ─────────────────────────────────────────────────────────────────────────────
// CODESTITCH GLOBAL STYLES
// Core stylesheet containing CSS variables, base element
// styling, typography rules, utility classes, component styles, navigation,
// footer, and other repeated section styles for the entire site
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Core Styles + Reset */
@media only screen and (min-width: 0px) {
	/* All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
	:root {
		--primary: #cdb690;

		--headerColor: #fff;
		--bodyTextColor: #fff;
		--dark: #0f0f0f;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(2.5375rem, 5.3vw, 5.0625rem);
		--bodyFontSize: 1rem;
		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) clamp(1rem, 4.5vw, 3.75rem);

		--innerSectionPadding: clamp(7.5rem, 12vw, 10rem) clamp(1rem, 4.5vw, 3.75rem) clamp(3.75rem, 7.82vw, 6.25rem);

		--columnGap: clamp(1rem, 2.5vw, 1.25rem);
		--headerLetterSpacing: -0.04em;

		--headerFont: "Poppins", Arial, sans-serif;
		--bodyFont: "Poppins", Arial, sans-serif;

		--topbarHeight: clamp(4rem, 7vw, 6rem);
	}

	html,
	body {
		font-family: var(--bodyFont);
		font-size: 100%;
		margin: 0;
		padding: 0;
		background-color: var(--dark);
		overflow-x: hidden;
		color: var(--bodyTextColor);
	}

	*,
	*:before,
	*:after {
		margin: 0;
		/* prevents padding from affecting height and width */
		box-sizing: border-box;
		padding: 0;
	}

	.cs-heading {
		font-family: var(--bodyFont);
		font-size: clamp(1rem, 3vw, 1.25rem);
		text-align: inherit;
		text-transform: uppercase;
		margin-bottom: 0.25rem;
		color: var(--headerColor);
		display: block;
	}

	.cs-title {
		font-size: var(--headerFontSize);
		font-weight: 400 !important;
		line-height: 1em;
		text-align: inherit;
		letter-spacing: var(--headerLetterSpacing);

		margin: 0 0 1rem 0;
		color: var(--headerColor);
		position: relative;
	}

	.cs-text {
		font-size: var(--bodyFontSize);
		line-height: 1.5em;
		text-align: inherit;
		width: 100%;
		max-width: 40.625rem;
		margin: 0;
		color: var(--bodyTextColor);
	}
}

/* Components + Utilities */
@media only screen and (min-width: 0px) {
	// Hidden screen reader skip nav button
	.skip {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1111111;
	}

	// Buttons - can be replaced using CodeStitch's "Button" Stitches. Make sure to clear the default .cs-button-solid/outline styles from any new stitches you place.
	.cs-button-solid {
		font-size: (16/16rem);
		font-weight: bold;
		line-height: (16/16em);
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		width: auto;
		padding: (16/16rem) (48/16rem);
		background-color: var(--primary);
		overflow: hidden;

		// Transition Properties
		color: var(--dark);
		display: inline-block;
		position: relative;
		z-index: 1;
		transition: color 0.3s;
		transition-delay: 0.1s;

		&:hover {
			&:before {
				width: 100%;
				height: 100%;
			}
		}

		&:before {
			content: "";
			//Transition properties
			width: 0;
			height: 0%;
			background-color: #fff;
			opacity: 1;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;
			transform: translate(-50%, -50%);
			transition:
				width 0.3s,
				height 0.3s;
		}
	}

	// Utilities - small classes useful in various common situations
	.cs-color {
		color: var(--primary);
	}

	.cs-bold {
		font-weight: 700;
	}

	.cs-hide-on-mobile {
		display: none !important;
	}
}

/* Desktop Utilities */
@media only screen and (min-width: 64rem) {
	.cs-hide-on-mobile {
		display: block !important;
	}

	.cs-hide-on-desktop {
		display: none !important;
	}
}

/* Base Element Styles */
@media only screen and (min-width: 0px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--headerFont);
		line-height: 1em;
		color: var(--headerColor);
		font-weight: 400;
	}

	p,
	li,
	a {
		font-size: (16/16rem);
		line-height: 1.5em;
	}

	p,
	li {
		color: var(--bodyTextColor);

		a {
			color: var(--primary);
		}
	}

	a,
	button {
		&:hover {
			cursor: pointer;
		}
	}
}

/* Fonts */
@media only screen and (min-width: 0px) {
	// Grab your fonts to locally host from https://gwfh.mranftl.com/fonts
	/* poppins-regular - latin */
	@font-face {
		font-style: normal;
		font-family: "Poppins";
		font-weight: 400;
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		src:
			url("/assets/fonts/poppins-v24-latin-regular.woff2") format("woff2"),
			/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/assets/fonts/poppins-v24-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
	}
	/* poppins-600 - latin */
	@font-face {
		font-style: normal;
		font-family: "Poppins";
		font-weight: 600;
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		src:
			url("/assets/fonts/poppins-v24-latin-600.woff2") format("woff2"),
			/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("/assets/fonts/poppins-v24-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
	}
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
	/* reset margin and padding so there's no gap between the nav and the screen edges */
	margin: 0;
	padding: 0;
}

/* Mobile - 1023px */
@media only screen and (min-width: 0rem) {
	body {
		&.cs-open {
			overflow: hidden;
		}
	}

	#cs-navigation {
		--ulWidth: min(70vw, 300px);
		width: 100%;
		/* prevents padding and border from affecting height and width */
		box-sizing: border-box;
		padding: (12/16rem) clamp(1rem, 4.5vw, 3.75rem);
		background-color: var(--dark);
		border-bottom: #414141 1px solid;
		position: fixed;
		z-index: 10000;

		&.cs-active {
			.cs-ul-wrapper {
				opacity: 1;
				visibility: visible;
			}

			.cs-toggle-text {
				display: block;
			}
		}

		.cs-container {
			width: 100%;

			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.cs-logo {
			width: auto;
			height: calc(var(--topbarHeight) - 1rem);
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 10;
			transform: translate(-50%, -50%);

			img {
				width: 100%;
				height: 100%;
				/* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
				object-fit: contain;
			}
		}

		.cs-toggle {
			width: (56/16rem);
			height: (56/16rem);
			margin: 0 0 0 auto;
			background: none;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			position: relative;
			z-index: 10000;

			transition: transform 0.6s;

			&:before {
				content: "";
				width: 1px;
				height: 100%;
				background-color: #414141;
				display: block;
				position: absolute;
				top: 0;
				right: (-16/16rem);
				z-index: -1;
			}

			&.cs-active {
				&::before {
					display: none;
				}
			}
		}

		.cs-active {
			.cs-line1 {
				top: 50%;
				transform: rotate(225deg);
			}

			.cs-line2 {
				width: 100%;
				top: 50%;
				transform: translateY(0) rotate(135deg);
				transform-origin: center;
			}
		}

		.cs-box {
			/* 24px - 28px */
			width: clamp(1.5rem, 2vw, 1.75rem);
			height: (16/16rem);
			position: relative;
		}

		.cs-line {
			width: 100%;
			height: 2px;
			background-color: var(--headerColor);
			position: absolute;
			left: 0;
		}

		.cs-line1 {
			top: 25%;
			transition:
				transform 0.5s,
				top 0.3s,
				left 0.3s,
				width 0.3s;
			animation-duration: 0.7s;
			animation-timing-function: ease;
			animation-direction: normal;
			animation-fill-mode: forwards;
			transform-origin: center;
		}

		.cs-line2 {
			width: 50%;
			top: 75%;
			left: 0;
			transform: translateY(-50%);
			transition:
				top 0.3s,
				left 0.3s,
				transform 0.5s,
				width 0.3s;
			animation-duration: 0.7s;
			animation-timing-function: ease;
			animation-direction: normal;
			animation-fill-mode: forwards;
		}

		.cs-graphic {
			width: 35vw;
			max-width: (450/16rem);
			height: auto;
			display: none;
		}

		.cs-ul-wrapper {
			width: 100%;
			height: 100vh;
			background-color: var(--dark);
			opacity: 0;
			display: flex;
			visibility: hidden;
			justify-content: flex-start;
			align-items: center;
			/* 32px - 108px */
			gap: clamp(2rem, 5vw, 6.75rem);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1000;
			transition:
				transform 0.4s,
				opacity 0.3s,
				visibility 0.3s;
		}

		.cs-ul-wrapper2 {
			width: auto;
			height: auto;
			max-height: 70vh;
			padding-left: (16/16rem);
			overflow: auto;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			gap: (20/16rem);
			transition: transform 0.3s;
			flex: none;

			&.cs-active {
				transform: translateX(calc(-1 * var(--ulWidth) + 3rem));
			}
		}

		.cs-ul,
		.cs-ul2 {
			width: var(--ulWidth);
			height: auto;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
			position: relative;
		}

		.cs-ul {
			position: relative;
			z-index: 1;
			flex: none;

			&:before {
				content: "";
				width: 1px;
				height: 100%;
				background: #414141;

				display: block;
				position: absolute;
				top: 0;
				left: 100%;
				z-index: -1;
			}
		}

		.cs-ul2 {
			opacity: 1;
			visibility: visible;
			position: relative;
			transform: translateX(0);
			transition:
				opacity 0.3s ease,
				visibility 0.3s ease,
				transform 0.3s;

			&.cs-hidden {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				right: 0;
				transform: translateX(-100%);
			}
		}

		.cs-li {
			list-style: none;
			width: 100%;
			background-color: var(--dark);
			cursor: pointer;
			display: flex;
			transition:
				transform 0.6s,
				background-color 0.3s;
			flex: none;

			&.cs-active {
				background-color: var(--dark);

				.cs-li-link {
					color: var(--primary);
				}
			}
		}

		.cs-li-link {
			/* 16px - 24px */
			font-family: var(--bodyFont);
			font-size: (20/16rem);
			text-align: left;
			text-transform: uppercase;
			text-decoration: none;
			width: 100%;
			height: 100%;
			margin: 0;
			margin-bottom: 0.25rem;
			padding: (16/16rem) (24/16rem);
			color: var(--headerColor);
			color: var(--headerColor);
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: (10/16rem);
			position: relative;
		}

		.cs-button-solid {
			display: none;
		}
	}
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (min-width: 0rem) {
	#cs-navigation {
		.cs-li {
			text-align: center;
			width: 100%;
			display: flex;
		}

		.cs-dropdown {
			&.cs-active {
				background-color: var(--primary);

				.cs-li-link {
					color: var(--primary);
				}

				.cs-drop-icon {
					filter: invert(1);
					transform: rotate(180deg);
				}
			}
		}

		.cs-drop-icon {
			width: (20/16rem);
			height: auto;
			color: var(--headerColor);
			position: relative;
			transition: transform 0.5s;
		}

		.cs-drop-ul {
			width: max-content;
			height: 0;
			margin: 0;
			padding: 0;
			overflow: hidden;
			opacity: 0;
			display: flex;
			visibility: hidden;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 100%;
			transition:
				padding 0.3s,
				margin 0.3s,
				height 0.3s,
				opacity 0.3s,
				visibility 0.3s;
			flex: none;
		}

		.cs-li-link {
			&.cs-drop-link {
				color: #fff;
			}
		}
	}
}

/*-- -------------------------- -->
<---     Desktop Navigation      -->
<--- -------------------------- -*/

@media only screen and (min-width: 64rem) {
	#cs-navigation {
		.cs-graphic {
			display: block;
		}

		.cs-logo {
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0);
		}

		.cs-ul-wrapper {
			justify-content: center;
		}

		.cs-ul-wrapper2 {
			&.cs-active {
				transform: translateX(0);
			}
		}

		.cs-button-solid {
			display: block;
		}

		.cs-li {
			&.cs-active,
			&:hover {
				background-color: var(--primary);
				.cs-li-link {
					color: var(--dark);
				}

				.cs-drop-icon {
					filter: invert(1);
				}
			}
		}
	}
}

/*-- -------------------------- -->
<---      Call To Action        -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
	#cta-2353 {
		padding: var(--sectionPadding);
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;

		.cs-container {
			width: 100%;
			margin: auto;
			display: flex;
			flex-direction: column;
			position: relative;
			z-index: 1;
			gap: (24/16rem);
		}

		.cs-content {
			width: 100%;
		}

		.cs-title {
			max-width: 13ch;
			margin-bottom: (24/16rem);
		}

		.cs-button-box {
			margin-bottom: (32/16rem);
			display: flex;
			flex-wrap: wrap;
			column-gap: (24/16rem);
			row-gap: (16/16rem);
		}

		.cs-icon {
			width: (24/16rem);
			height: auto;
			display: block;
		}

		.cs-picture {
			width: 100%;
			height: clamp(15rem, 40vw, 42.5rem);
			display: block;
			position: relative;
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#cta-2353 {
		padding-bottom: 0;
		.cs-container {
			align-items: stretch;
			flex-direction: row;
		}

		.cs-content {
			width: 47.5%;
			padding: var(--sectionPadding);
			padding-left: 0;
			padding-right: 0;
		}

		.cs-picture {
			width: 50vw;
			height: auto;
		}
	}
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
	#footer-2345 {
		padding: var(--sectionPadding);
		padding-top: 0;
		/* 32px - 60px */
		padding-bottom: clamp(2rem, 7vw, 3.75rem);

		.cs-container {
			width: 100%;

			margin: auto;
			/* 24px - 100px top & bottom */
			/* 16px - 100px left & right */
			padding: clamp(1.5rem, 8vw, 6.25rem) clamp(1rem, 6.5vw, 6.25rem);
			/* 24px - 40px */
			padding-bottom: clamp(1.5rem, 5vw, 2.5rem);
			display: flex;
			flex-direction: column;
		}

		.cs-wrapper {
			display: flex;
			flex-direction: column;
			gap: (48/16rem);
		}

		.cs-content {
			max-width: (516/16rem);
		}

		.cs-logo {
			width: (174/16rem);
			height: auto;
			margin-bottom: (16/16rem);
			display: block;
		}

		.cs-text {
			/* 32px - 60px */
			margin-bottom: clamp(2rem, 7vw, 3.75rem);
			color: var(--bodyTextColorWhite);
		}

		.cs-nav {
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			column-gap: (24/16rem);
			row-gap: (8/16rem);
		}

		.cs-nav-li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.cs-nav-link {
			font-size: (16/16rem);
			line-height: 1.5em;
			text-decoration: none;
			color: var(--bodyTextColorWhite);
			transition: color 0.3s;

			&:hover {
				color: var(--primary);
			}
		}

		.cs-contact {
			font-size: clamp(1rem, 3vw, 1.25rem);
			font-weight: 400;
			line-height: 1em;
			text-decoration: none;
			color: var(--bodyTextColorWhite);
			display: flex;
			flex-direction: column;

			transition: color 0.3s;

			&:hover {
				color: var(--primary);
			}
		}

		.cs-logo {
			width: (174/16rem);
			height: auto;
			display: block;
			position: relative;
			z-index: 1;
		}

		.cs-logo-img {
			width: 100%;
			height: auto;
			display: block;
		}

		.cs-heading .cs-wrapper {
			width: 100%;
			display: flex;
		}

		.cs-copyright,
		.cs-link {
			font-size: (16/16rem);
			line-height: 1.5em;
			text-decoration: none;
			white-space: nowrap;
			color: #fff;
			display: inline-block;
			transition: color 0.3s;
		}

		.cs-link {
			&:hover {
				color: var(--primary);
			}
		}

		.cs-bottom {
			width: 100%;
			/* 48px - 60px */
			margin-top: clamp(3rem, 7vw, 3.75rem);
			/* 24px - 40px */
			padding-top: clamp(1.5rem, 5vw, 2.5rem);
			border-top: 1px solid #434240;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: (8/16rem);
		}

		.cs-copyright {
			font-size: (16/16rem);
			line-height: 1.5em;
			text-decoration: none;
			color: var(--bodyTextColorWhite);
		}

		.cs-copyright-link {
			font-size: (16/16rem);
			line-height: 1.5em;
			text-decoration: none;
			color: var(--bodyTextColorWhite);
			transition: color 0.3s;

			&:hover {
				color: var(--primary);
			}
		}

		.cs-terms {
			display: flex;
			align-items: center;
			order: -1;
		}

		.cs-divider {
			font-size: (16/16rem);
			margin: 0 (16/16rem);
			color: #a3a3a3;
			display: inline-block;
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 35rem) {
	#footer-2345 {
		.cs-contact {
			flex-direction: row;
		}
		.cs-bottom {
			flex-direction: row;
			justify-content: space-between;
			justify-content: center;
		}

		.cs-terms {
			order: initial;
		}
	}
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#footer-2345 {
		.cs-wrapper {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
}
