---
title: "Welcome"
description: "Your new website"
permalink: "/"
tags: "sitemap"
---

{% extends "layouts/base.html" %} {% block head %}

<link rel="stylesheet" href="/assets/css/critical.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-2344">
	<div class="cs-container">
		<div class="cs-content">
			<div class="cs-flex cs-flex1">
				<span class="cs-heading">Designed. Built. Deployed.</span>
				<h2 class="cs-title">You Choose The Unit You Decide What It Becomes</h2>
				<div class="cs-button-group">
					<a href="/contact/" class="cs-button-solid">Inquire Today</a>
					<a href="/gallery/" class="cs-button-transparent">Explore Concepts</a>
				</div>
			</div>
		
		</div>
		<!--Background Image-->
		<picture class="cs-background">
			<!--Mobile Image-->
			<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building14.jpg" />
			<!--Tablet and above Image-->
			<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building14.jpg" />
			<img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building14.jpg" alt="fancy modern architecture" width="1800" height="860" />
		</picture>
	</div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2355">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Our Gallery</span>
			<h2 class="cs-title">Let’s See Our Latest Project</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<!--Mobile Image-->
						<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" />
						<!--Tablet and above Image-->
						<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" />
						<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" alt="building" width="305" height="340" />
					</picture>
					<h3 class="cs-h3">Nova green hub</h3>
					<p class="cs-item-text">Green Architecture</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<!--Mobile Image-->
						<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building10.jpg" />
						<!--Tablet and above Image-->
						<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building10.jpg" />
						<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building10.jpg" alt="building" width="305" height="340" />
					</picture>
					<h3 class="cs-h3">Research center Ioku</h3>
					<p class="cs-item-text">Green Architecture</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<!--Mobile Image-->
						<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building15.jpg" />
						<!--Tablet and above Image-->
						<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building15.jpg" />
						<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building15.jpg" alt="building" width="305" height="340" />
					</picture>
					<h3 class="cs-h3">Niagu passive house</h3>
					<p class="cs-item-text">Green Architecture</p>
				</a>
			</li>
		
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                  Not Typical                    -->
<!-- ============================================ -->

<section id="typical">
	<div class="cs-container">
		<div class="cs-content">
			<h2 class="cs-title">Not Your Typical Backyard Space</h2>
			<p class="cs-text">Arcadia Micro Structures are designed around lifestyle, flexibility, aesthetics, and modern living.</p>
			<p class="cs-text">
				This is not a shipping container.
				<br />
				This is not a basic bunkie.
				<br />
				This is not a temporary structure.
			</p>
			<p class="cs-text">These are premium micro-structures designed to enhance property value, create flexible living space, and generate income potential.</p>
			<a href="/contact/" class="cs-button-solid">Inquire Today</a>
		</div>
		<picture class="cs-picture">
			<img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs.jpg" alt="not typical" width="1800" height="860" />
		</picture>
	</div>
</section>

<!-- ============================================ -->
<!--                  Multiple Ways                    -->
<!-- ============================================ -->

<section id="models">
	<div class="cs-wrapper">
		<div class="cs-container">
			<h2 class="cs-title">Multiple Ways To Use Your Property</h2>

			<div class="cs-content">
				<h3 class="cs-h3">Personal Model</h3>
				<p class="cs-text">
					Personal use
					<br />
					Guest house
					<br />
					AirBnB income
					<br />
					Full ownership
					<br />
					Adds property value
					<br />
				</p>
				<h3 class="cs-h3">Income Model</h3>
				<p class="cs-text">
					You use it when desired
					<br />
					Let the unit generate income when your not using it
					<br />
					Flexible lifestyle + revenue approach
				</p>
				<h3 class="cs-h3">Land Lease Model</h3>
				<p class="cs-text">
					Airbnb-focused placement
					<br />
					Revenue-sharing structures
					<br />
					Long-term partnership models
					<br />
					Flexible land-use arrangements
				</p>
				<span class="cs-heading">Ideal Locations May Include</span>
				<p class="cs-text">
					Scenic rural properties
					<br />
					Waterfront or recreational areas
					<br />
					Tourism-driven regions
					<br />
					High-demand short-term rental markets
				</p>
				<a href="/contact/" class="cs-button-solid">Inquire Today</a>
			</div>
			<picture class="cs-picture">
				<img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs.jpg" alt="not typical" width="1800" height="860" />
			</picture>
		</div>
	</div>
</section>

<section id="carousel">
	<div class="cs-container">
		<div class="cs-content">
			<h2 class="cs-title">Pick Your Style</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<picture class="cs-picture">
					<!--Mobile Image-->
					<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" />
					<!--Tablet and above Image-->
					<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" />
					<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" alt="building" width="305" height="340" />
				</picture>
				<h3 class="cs-h3">Modern</h3>
			</li>
			<li class="cs-item">
				<picture class="cs-picture">
					<!--Mobile Image-->
					<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building10.jpg" />
					<!--Tablet and above Image-->
					<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building10.jpg" />
					<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building10.jpg" alt="building" width="305" height="340" />
				</picture>
				<h3 class="cs-h3">Retreat</h3>
			</li>
			<li class="cs-item">
				<picture class="cs-picture">
					<!--Mobile Image-->
					<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building15.jpg" />
					<!--Tablet and above Image-->
					<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building15.jpg" />
					<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building15.jpg" alt="building" width="305" height="340" />
				</picture>
				<h3 class="cs-h3">Rustic</h3>
			</li>
			<li class="cs-item">
				<picture class="cs-picture">
					<!--Mobile Image-->
					<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building16.jpg" />
					<!--Tablet and above Image-->
					<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building16.jpg" />
					<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building16.jpg" alt="building" width="305" height="340" />
				</picture>
				<h3 class="cs-h3">Luxury</h3>
			</li>
			<li class="cs-item">
				<picture class="cs-picture">
					<!--Mobile Image-->
					<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" />
					<!--Tablet and above Image-->
					<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" />
					<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building11.jpg" alt="building" width="305" height="340" />
				</picture>
				<h3 class="cs-h3">Contemporary</h3>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                  Process                    -->
<!-- ============================================ -->

<section id="process">
	<div class="cs-container">
		<div class="cs-content">
			<h2 class="cs-title">Simple Process</h2>
			<ul class="cs-ul">
				<li class="cs-li">
					<span class="cs-heading">01 Choose your unit</span>
					<h3 class="cs-h3">Select the design that fits your goals</h3>
				</li>
				<li class="cs-li">
					<span class="cs-heading">02 Choose How You Use It</span>
					<h3 class="cs-h3">Lifestyle, income, or both.</h3>
				</li>
				<li class="cs-li">
					<span class="cs-heading">03 We Build it</span>
					<h3 class="cs-h3">Precision-Built Construction Systems</h3>
				</li>
				<li class="cs-li">
					<span class="cs-heading">04 WE Deliver and Place it</span>
					<h3 class="cs-h3">Minimal disruption to your property</h3>
				</li>
				<li class="cs-li">
					<span class="cs-heading">
						05 Use it, rent it, or both
					</span>
					<h3 class="cs-h3">
						You decide how it works for you.
					</h3>
				</li>
			</ul>
			<a href="/contact/" class="cs-button-solid">Inquire Today</a>
		</div>
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture1">
				<img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs.jpg" alt="not typical" width="1800" height="860" />
			</picture>
			<picture class="cs-picture cs-picture2">
				<img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs.jpg" alt="not typical" width="1800" height="860" />
			</picture>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2358">
    <div class="cs-container">
        <div class="cs-flex">
            <div class="cs-image-group cs-image-group1">
                <span class="cs-topper">Our Story</span>
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building17.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building17.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building17.jpg" alt="nice house" width="517" height="650">
                </picture>
                <a href="" class="cs-link">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-up-right.svg" alt="icon" width="24" height="24">
                    16 Revene Marin, New York
                </a>
            </div>
            <div class="cs-stat">
                <span class="cs-number">1.4K <span class="cs-color">+</span></span>
                <span class="cs-desc">Complete Projects</span>
            </div>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">The Best Place for Your Dream Vacation is Here, Where Luxury Meets Tranquility. We are a modern architectural bureau with a skillful & professional team of architects</h2>
            <div class="cs-image-group cs-image-group2">
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room3.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room3.jpg" alt="nice house" width="1215" height="660">
                </picture>
                <a href="" class="cs-link">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-up-right.svg" alt="icon" width="24" height="24">
                    16 Revene Marin, New York
                </a>
            </div>
            <p class="cs-text">
                Since the 1980s, as the complexity of buildings began to increase, the field of architecture became multi-disciplinary with specializations. From visionary concepts to flawless execution, we craft architectural masterpieces. Urban design draws together the many strands of place-making, environmental stewardship. 
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-2294">
    <div class="cs-container">
        <div class="cs-faq-group">
            <div class="cs-content">
                <span class="cs-topper">Frequently Asked Questions</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
            </div>
            <picture class="cs-faq-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-review-small.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-review-small.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-review-small.jpg" alt="appliance" width="522" height="400">
            </picture>
            <ul class="cs-faq">
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            1. What areas do you serve?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <!-- Active class added as default -->
                <li class="cs-faq-item actived">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            2. What types of projects do you specialize in?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We specialize in high-end custom homes, hardscaping, and extensions, along with a range of other construction services, including renovations, property maintenance, and groundwork.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            3. Can I see examples of your previous work?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            4. Do you provide free consultations?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            5. Are you able to help with design and planning?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-picture-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-review-large.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-review-large.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-review-large.jpg" alt="appliance" width="522" height="400">
            </picture>
            <h3 class="cs-h3">Inspired by our work?</h3>
            <p class="cs-text">By collaborating, we can create something extraordinary and unforgettable together.</p>
            <a href="" class="cs-button-solid">Get Started</a>
        </div>
    </div>
</section>
                                
                                
<script>
	const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
                item.classList.toggle('active');
            };
            item.addEventListener('click', onClick);
        }
                                
</script>

{% endblock %}
